.Header {
    height: 70px;
    padding-top: 10px;
    width: 100%;
    margin: 0px;
    color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 20px;
    transition: ease-in-out;
}

.Header .lang-button button {
    width: 90px;
    height: 30px;
    background-color: #0e77b3;
    color: white;
    border-radius: 5px;
}

.lang-button button:hover{
    background-color:rgb(233, 231, 228) ;
    color: black;
}

.Header ul {
    margin-left: 40px;
    margin-right: 80px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.Header img {
    height: 50px;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.Header div {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
}

.Header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.Header ul li a:hover {
    text-decoration: dotted !important;
}

.simple-underline {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #333;
    padding-bottom: 4px;
}

.simple-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #0e77b3;
    transition: width 0.3s ease, left 0.3s ease;
}

.simple-underline:hover::after {
    width: 100%;
    left: 0;
}

.Header.fixed {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.961);
    z-index: 1000;
    width: 100%;
    transition: top 0.8s ease-in-out, background-color 0.8s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.lang-wrapper {
    position: relative;
}

.languageDiv {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.languageDiv ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.languageDiv ul li {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.languageDiv ul li:hover {
    background-color: #555;
}

